.figure {
  position: relative;
  overflow: hidden;

  &__label {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 5;
  }

  &__pictureWrap {
    position: relative;
    height: 0;
    overflow: hidden;
    border-radius: 0 21px;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &_anim_scale10 {
      transition: transform 0.3s;
      will-change: transform;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 0) {
  .figure {
    &__pictureWrap {
      padding-top: 70%;

      &_pageBlog {
        padding-top: 50%;
      }
    }
  }
}

@media screen and (min-width: $md) {
  .figure {
    &__pictureWrap {
      padding-top: 100%;

      &_pageBlog {
        padding-top: 100%;
      }
    }
  }
}