.blogCategory {
  &__item {
    margin-bottom: 1rem;
    padding-left: 25px;
  }

  &__link {
    &_active {
      color: #000;

      &::before,
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}