.contactItem {
  &__photo {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 0 10px;
  }

  &__name {
    font-weight: 600;
  }

  &__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: 0.875rem;
  }
}