//Fonts
@import url('https://fonts.googleapis.com/css?family=Charm:700|Great+Vibes|Montserrat:400,500,600&display=swap');

$primaryFont: 'Montserrat', sans-serif;
$titleFont: 'Charm', cursive;
$headerTitleFont: 'Great Vibes', cursive;

// Breakpoints
$xs: 320px;
$sm: 526px;
$md: 768px;
$lg: 991px;
$xl: 1140px;
$xxl: 1300px;